<!DOCTYPE html>
<html lang="en">
<head>
	<title>Blog Detail</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="wrap-menu-header gradient1 trans-0-4">
			<div class="container h-full">
				<div class="wrap_header trans-0-3">
					<!-- Logo -->
					<div class="logo">
						<a href="/">
							<img src="images/icons/logo.png" alt="IMG-LOGO" data-logofixed="images/icons/logo2.png">
						</a>
					</div>

					<!-- Menu -->
					<div class="wrap_menu p-l-45 p-l-0-xl">
						<nav class="menu">
							<ul class="main_menu">
								<li>
									<a href="/">Home</a>
								</li>

								<li>
									<a href="/gallery">Gallery</a>
								</li>

								<li>
									<a href="/about">About</a>
								</li>

								<li>
									<a href="/blog">Blog</a>
								</li>

								<li>
									<a href="/project">Projects</a>
								</li>

								<li>
									<a href="/resume">Resume</a>
								</li>

								<li>
									<a href="/contact">Contact</a>
								</li>
							</ul>
						</nav>
					</div>

					<!-- Social -->
					<div class="social flex-w flex-l-m p-r-20">
						<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Sidebar -->
	<aside class="sidebar trans-0-4">
		<!-- Button Hide sidebar -->
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

		<!-- - -->
		<ul class="menu-sidebar p-t-95 p-b-70">
			<li class="t-center m-b-13">
				<a href="/" class="txt19">Home</a>
			</li>

			<li class="t-center m-b-13">
				<a href="/gallery" class="txt19">Gallery</a>
			</li>

			<li class="t-center m-b-13">
				<a href="/about" class="txt19">About</a>
			</li>

			<li class="t-center m-b-13">
				<a href="/blog" class="txt19">Blog</a>
			</li>

			<li class="t-center m-b-13">
				<a href="/resume" class="txt19">Resume</a>
			</li>

			<li class="t-center m-b-13">
				<a href="/project" class="txt19">Projects</a>
			</li>

			<li class="t-center m-b-33">
				<a href="/contact" class="txt19">Contact</a>
			</li>
		</ul>
	</aside>

	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(images/blog.jpg);">
		<h2 class="tit6 t-center">
			Blog
		</h2>
	</section>


	<!-- Content page -->
	<section>
		<div class="bread-crumb bo5-b p-t-17 p-b-17">
			<div class="container">
				<a href="/index" class="txt27">
					Home
				</a>

				<span class="txt29 m-l-10 m-r-10">/</span>

				<a href="/blog" class="txt27">
					Blog
				</a>

				<span class="txt29 m-l-10 m-r-10">/</span>

				<span class="txt29">
					Interviews
				</span>
				<span class="txt29">
					Study in the US
				</span>
			</div>
		</div>

		<div class="container">
			<div class="row ">
				<div class="col-md-8 col-lg-9">
					<div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
						<!-- Block4 -->
						<div class="blo4 p-b-63">
							<!-- - -->
							<div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
								<a href="/blogdetail">
									<img src="images/fabk.jpg" alt="IMG-BLOG">
								</a>

								<div class="date-blo4 flex-col-c-m">
									<span class="txt30 m-b-4">
										8
									</span>

									<span class="txt31">
										June, 2019
									</span>
								</div>
							</div>

							<!-- - -->
							<div class="text-blo4 p-t-33">
								<h4 class="p-b-16">
									<a href="/blogdetail" class="tit9"> SWE interviews in Silicon Valley </a>
								</h4>

								<div class="txt32 flex-w p-b-24">
									<span>
										by Admin
										<span class="m-r-6 m-l-4">|</span>
									</span>

									<span>
										8 June, 2019
										<span class="m-r-6 m-l-4">|</span>
									</span>

									<span>
										Interviews
									</span>
								</div>

								<p>	
									Everyone knows that it's hard to get any job in the US as an International student due to the broken immigration system. So how can you break the barrier and get noticed by the Big Tech companies in Silicon Valley? How can you land your dream Software Engineering internship? 
									<br> </br>
									Today, I will describe how to apply to these Big Tech firms. What the interview process is like and how did I receive interviews as an international student from Bangladesh in his first semester as a Sophomore.
									<br> </br>
									For those who are unaware, the application opens up every year during August for their Summer intern class and interviewing starts later in November/December.
									<br> </br>
									Things you need to submit your application to Big Tech companies:
                                        <li>
                                            <ol> • Your most-up-to-date resume. </ol>
                                            <ol> • A list of projects you worked in along with a description of the project. </ol>
                                            <ol> • Your academic transcript from all the institutions you have attended.  </ol>
                                            <ol> • Short essays explaining why do you want to work for them? Why should they hire you? And what are you looking to get out for the internship?  </ol>
                                            <ol> • Links to your E-Portfolio, Github, Linkedin.  </ol>
                                            <ol> • Hackathon Experience(Optional) </ol>
                                        </li>
                                    <br> </br>
                                    Brownie Points: 
                                        <li>
                                            <ol> • Participate in Hackathons </ol>
                                            <ol> • Practice Algorithmic/ Data Structure questions, OOP questions, SQL queries  </ol>
                                            <ol> • Leetcode, Codechef, HackerRank  </ol>
                                            <ol> • Get some experience with some small internships </ol>
                                            <ol> • Work on meaningful personal projects  </ol>
                                        </li>
                                    <br> </br>
                                    Amazon: 
                                    <li>
                                        <ol> Round 1: You will be given 50 mcq, debugging and logical questions </ol>
                                        <ol> Round 2: This round consists of a 45-minute technical interview with a Senior Software Development Engineering. Expect behavioural as well as technical questions with language specific questions. I was told to write the n-Fibonacci sequence. I used Python and started with a simple recursive solution then I wrote the memoized solution. The interviewer followed by saying to draw the recursion tree, how to handle errors, and make sure the input is an integer since Python takes dynamic input. </ol>
                                        <ol> Round 3: 5 rounds of back-to-back on-site interviews which involves Whiteboarding, Lunch interview, Design questions, Codeshare and behavioural questions with the Engineering Manager. </ol>
                                        <ol> Benefits: </ol>
                                        <li>
                                            <ol>Compensation: $8000/month</ol>
                                            <ol>Relocation/Housing Stipend: $2500-3500/month </ol>
                                        </li>
                                    </li>
                                    <br> </br>
                                     Facebook:
                                    <li>
                                        <ol> Round 1: You will have to talk to HR who will ask you about your previous experience, projects and why do you want to work for Facebook. This round can sometimes involve little technical part like explain the ternary operator in Python. </ol>
                                        <ol> Round 2: You will have to code in codeshare along with a Facebook Engineer and he will ask you followup questions. Be prepared to talk about time complexities, optimizations, space complexities and a brute-force solution to the problem. </ol>
                                        <ol> Round 3: 5 rounds of back-to-back on-site interviews which involves Whiteboarding, Lunch interview, Design questions, Codeshare and behavioural questions with the Engineering Manager. </ol>
                                        <ol> Benefits: </ol>
                                        <li>
                                            <ol>Compensation: $8000/month</ol>
                                            <ol>Relocation/Housing Stipend: Studio apt or $1000/month </ol>
                                        </li>
                                    </li>
                                    <br> </br>
									Google:
                                    <li>
										<ol> Round 1: 90-mins coding challenge with 3 algorithmic questions </ol>
                                        <ol> Round 2: 1-hour technical interview with a Senior Software Engineer who will ask you about your interests, previous internships, hackathons and past projects for about 20 mins. The remaining 40 mins involve a coding challenge in a google doc share. </ol>
                                        <ol> Round 3: 1-hour technical interview with a Senior Software Engineer involves solving an algorithmic question in a google doc share. </ol>
                                        <ol> Benefits: </ol>
                                        <li>
                                            <ol>Compensation: $6500/month</ol>
                                            <ol>Relocation/Housing Stipend: $2500/month </ol>
                                        </li>
                                    </li>
									<br> </br>
									Microsoft:
                                    <li>
                                        <ol> Round 1: You will have a 1-hour technical interview with a Senior Software Developer who will ask you about your interests, previous internships, hackathons and past projects for about 20 mins. The remaining 40 mins involve a coding challenge in a google doc share. I was told to write a function that returns the top ten search along with their relative frequency when an API is called. </ol>
                                        <ol> Round 2: 3 back-to-back onsite interviews which include a whiteboarding, Design question and Behavioral questions. </ol>
                                        <ol> Benefits: </ol>
                                        <li>
                                            <ol>Compensation: $7800/month</ol>
                                            <ol>Relocation/Housing Stipend: $1500/month </ol>
                                        </li>
                                    </li>
									<br> </br>
									SalesForce:
                                    <li>
                                        <ol> Round 1: 90-mins coding challenge with 3 algorithmic questions </ol>
										<ol> Round 2: 1-hour technical interview with a Senior Software Engineer involves solving an algorithmic question in HackerRank code share </ol>
										<ol> Final round: Behavioral & conceptual interview with a Senior Software Engineer & Hiring Manager </ol>
                                        <ol> Benefits: </ol>
                                        <li>
                                            <ol>Compensation: $7200/month</ol>
                                            <ol>Relocation/Housing Stipend: $1500/month </ol>
                                        </li>
                                    </li>
									<br> </br>
									HubSpot:
                                    <li>
                                        <ol> Round 1: 3-hour coding challenge where you will have to call different APIs and manipulate JSON data </ol>
										<ol> Round 2: 30 mins cultural fit interview with a recruiter </ol>
										<ol> On-site: Technical interview, System design and behavioural interview </ol>
                                        <ol> Benefits: </ol>
                                        <li>
                                            <ol>Compensation: $7200/month</ol>
                                            <ol>Housing Stipend: $3000 lumpsum </ol>
                                        </li>
                                    </li>
									<br> </br>
									Bloomberg:
                                    <li>
                                        <ol> Round 1: 45 minute call with interviewer who will ask you about your interests, previous internships, hackathons and past projects</ol>
										<ol> Round 2: 1-hour technical interview with a Senior Software Engineer in a HackerRank codeshare. I was told to write a function that checks browsers history is see if a website has been previously visited  </ol>
										<ol> Final Round: Technical interview & System design with high-level technical interview w/ engineering manager </ol>
                                        <ol> Benefits: </ol>
                                        <li>
                                            <ol>Compensation: $7040/month</ol>
											<ol>Housing Stipend: $5100 lumpsum </ol>
											<ol>Relocation bonus: $2000/month </ol>
                                        </li>
                                    </li>
									<br> </br>
									Redfin:
                                    <li>
                                        <ol> Round 1: You will have a 1-hour technical interview with a Senior Software Developer who will ask you about your interests, previous internships, hackathons and past projects for about 20 mins. The remaining 40 mins involve a coding challenge in a google doc share. I was told to write a function that returns the top ten search along with their relative frequency when an API is called. </ol>
                                        <ol> Round 2: 3 back-to-back onsite interviews which include a whiteboarding, Design question and Behavioral questions. </ol>
                                        <ol> Benefits: </ol>
                                        <li>
                                            <ol>Compensation: $7800/month</ol>
                                            <ol>Relocation/Housing Stipend: $1500/month </ol>
                                        </li>
                                    </li>
									<br> </br>
                                    PlayStation:
                                    <li>
                                        <ol> Round 1: You will be talking with the Hiring manager and a Senior Engineering talking about your past experience and some technical questions like How do you sort a file whose size is n - time larger than the size of the volatile memory(RAM). </ol>
                                        <ol> Round 2: 3 back-to-back onsite interviews which include a whiteboarding, Design question and Behavioral questions. </ol>
                                        <li>
                                            <ol>Compensation: $7200/month</ol>
                                            <ol>Relocation/Housing Stipend: $1000/month </ol>
                                        </li>
                                    </li>
                                    <br> </br>
								</p>
							</div>
						</div>

						<!-- Leave a comment -->
						<form class="leave-comment p-t-10">
							<h4 class="txt33 p-b-14">
								Leave a Comment
							</h4>
							<p>
								Your email address will not be published. Required fields are marked *
							</p>

							<textarea class="bo-rad-10 size29 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-40" name="commentent" placeholder="Comment..."></textarea>

							<div class="size30 bo2 bo-rad-10 m-t-3 m-b-20">
								<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Name *">
							</div>

							<div class="size30 bo2 bo-rad-10 m-t-3 m-b-20">
								<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Email *">
							</div>

							<!-- Button3 -->
							<button type="submit" class="btn3 flex-c-m size31 txt11 trans-0-4">
								Post Comment
							</button>
						</form>
					</div>
				</div>

				<div class="col-md-4 col-lg-3">
					<div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
						<!-- Search -->
						<div class="search-sidebar2 size12 bo2 pos-relative">
							<input class="input-search-sidebar2 txt10 p-l-20 p-r-55" type="text" name="search" placeholder="Search">
							<button class="btn-search-sidebar2 flex-c-m ti-search trans-0-4"></button>
						</div>

						<!-- Categories -->
						<div class="categories">
							<h4 class="txt33 bo5-b p-b-35 p-t-58">
								Categories
							</h4>

							<ul>
								<li class="bo5-b p-t-8 p-b-8">
									<a href="#" class="txt27">
										Hackathons
									</a>
								</li>

								<li class="bo5-b p-t-8 p-b-8">
									<a href="#" class="txt27">
										Interviews
									</a>
								</li>

								<li class="bo5-b p-t-8 p-b-8">
									<a href="#" class="txt27">
										Steam
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


		<!-- Footer -->
	<footer class="bg1">
		<div class="container p-t-40 p-b-70">
			<div class="row">
				<div class="col-sm-6 col-md-4 p-t-50">
					<!-- - -->
					<h4 class="txt13 m-b-33">
						Contact Me
					</h4>

					<ul class="m-b-70">
						<li class="txt14 m-b-14">
							<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
							Lubbock, Texas
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
							adibshakib1
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
							adibshakib@gmail.com
						</li>
					</ul>
				</div>
			</div>
			</div>	
		</div>

		<div class="end-footer bg2">
			<div class="container">
				<div class="flex-sb-m flex-w p-t-22 p-b-22">
					<div class="p-t-5 p-b-5">
						<a href="https://github.com/mostofashakib" class="fs-15 c-white"> <i class="fa fa-github m-l-18" aria-hidden="true"></i></a>
						<a href="https://www.facebook.com/mostofa.shakib" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
						<a href="https://www.linkedin.com/in/adibshakib/" class="fs-15 c-white"><i class="fa fa-linkedin-square m-l-18" aria-hidden="true"></i></a>
					</div>

					<div class="txt17 p-r-20 p-t-5 p-b-5">
						Copyright &copy; All rights reserved| Designed and Developed by Mostofa Adib Shakib. <i class="fa fa-heart"></i>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>



<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/parallax100/parallax100.js"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>