<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="wrap-menu-header gradient1 trans-0-4">
			<div class="container h-full">
				<div class="wrap_header trans-0-3">
					<!-- Logo -->
					<div class="logo">
						<a href="/">
							<img src="images/icons/logo.png" alt="IMG-LOGO" data-logofixed="images/icons/logo2.png">
						</a>
					</div>

					<!-- Menu -->
					<div class="wrap_menu p-l-45 p-l-0-xl">
						<nav class="menu">
							<ul class="main_menu">
								<li>
									<a href="/">Home</a>
								</li>

								<li>
									<a href="/gallery">Gallery</a>
								</li>

								<li>
									<a href="/about">About</a>
								</li>

								<li>
									<a href="/blog">Blog</a>
                                </li>

                                <li>
									<a href="/project">Projects</a>
								</li>

								<li>
									<a href="/resume">Resume</a>
								</li>

								<li>
									<a href="/contact">Contact</a>
								</li>
							</ul>
						</nav>
					</div>

					<!-- Social -->
					<div class="social flex-w flex-l-m p-r-20">
						<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Sidebar -->
	<aside class="sidebar trans-0-4">
		<!-- Button Hide sidebar -->
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

		<!-- - -->
		<ul class="menu-sidebar p-t-95 p-b-70">
			<li class="t-center m-b-13">
				<a href="/" class="txt19">Home</a>
			</li>

			<li class="t-center m-b-13">
				<a href="/gallery" class="txt19">Gallery</a>
			</li>

			<li class="t-center m-b-13">
				<a href="/about" class="txt19">About</a>
			</li>

			<li class="t-center m-b-13">
				<a href="/blog" class="txt19">Blog</a>
			</li>

			<li class="t-center m-b-13">
				<a href="/resume" class="txt19">Resume</a>
            </li>

            <li class="t-center m-b-13">
                <a href="/project" class="txt19">Projects</a>
            </li>

			<li class="t-center m-b-33">
				<a href="/contact" class="txt19">Contact</a>
			</li>
		</ul>
    </aside>

	<!-- Slide1 -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1 item1-slick1" style="background-image: url(images/slide1.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 txt1 t-left animated visible-false m-b-15" data-appear="fadeInDown">
							I am Mostofa
						</span>

						<h2 class="caption2-slide1 tit1 t-left animated visible-false m-b-37" data-appear="fadeInUp">
							Adib Shakib
						</h2>

						<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
							<!-- Button1 -->
							<a href="/about" class="btn1 flex-c-m size1 txt3 trans-0-4">
								Learn more
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item2-slick1" style="background-image: url(images/slide5.jpg);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rollIn">
							They also call me
						</span>

						<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
							KurT™
						</h2>
						<div class="wrap-btn-slide1 animated visible-false" data-appear="slideInUp">
							<!-- Button1 -->
							<a href="/about" class="btn1 flex-c-m size1 txt3 trans-0-4">
								Learn more
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap-slick1-dots"></div>
		</div>
	</section>

	<!-- Welcome -->
	<section class="section-welcome bg1-pattern p-t-120 p-b-105">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-t-45 p-b-30">
					<div class="wrap-text-welcome t-center">
						<span class="tit2 t-center">
							Mostofa Adib Shakib
						</span>

						<p class="t-center m-b-22 size3 m-l-r-auto">
							I am currently working at Snap Inc as a Software Engineer. In May 2021 I graduated from Texas Tech University with dual bachelor's degrees in Computer Science and Mathematics and a minor in Electrical Engineering. At the age of 17 I founded my own business which had a 6000% ROI with just $5
						</p>
						<a href="/about" class="txt4">
							My Story
							<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
						</a>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
						<img src="images/slide6.jpg" alt="IMG-OUR">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Intro -->
	<section class="section-intro">
		<div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(images/slide10.jpg);">
			<span class="tit2 p-l-15 p-r-15">
				Travel the world
			</span>

			<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
				With me
			</h3>
		</div>

		<div class="content-intro bg-white p-t-77 p-b-133">
			<div class="container">
				<div class="row">
					<div class="col-md-4 p-t-30">
						<!-- Block1 -->
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								<img src="images/slide8.jpg" alt="IMG-INTRO">
							</div>

							<div class="wrap-text-blo1 p-t-35">
								<a href="/"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
									Los Angeles, California
								</h4></a>

								<a href="/gallery" class="txt4">
									Learn More
									<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 p-t-30">
						<!-- Block1 -->
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								<img src="images/newyork.jpg" alt="IMG-INTRO">
							</div>

							<div class="wrap-text-blo1 p-t-35">
								<a href="/"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
									New York City, New York
								</h4></a>

								<a href="public/gallery" class="txt4">
									Learn More
									<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-4 p-t-30">
						<!-- Block1 -->
						<div class="blo1">
							<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
								<img src="images/slide11.jpg" alt="IMG-INTRO">
							</div>

							<div class="wrap-text-blo1 p-t-35">
								<a href="/"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
									San Diego, California
								</h4></a>

								<a href="/gallery" class="txt4">
									Learn More
									<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- Blog -->
	<section class="section-blog bg-white p-t-115 p-b-123">
		<div class="container">
			<div class="title-section-ourmenu t-center m-b-22">
				<span class="tit2 t-center">
					Latest News
				</span>

				<h3 class="tit5 t-center m-t-2">
					The Blog
				</h3>
			</div>

			<div class="row">

				<div class="col-md-4 p-t-30">
					<!-- Block 1 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom pos-relative">
							<a href="/blogdetail"><img src="images/st.jpg" alt="IMG-INTRO"></a>

							<div class="time-blog">
								17th May, 2019
							</div>
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<a href="/blogdetail"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
								What is Steam trading?
							</h4></a>

							<p class="m-b-20">
								A steam trader is someone who engages in virtual item trading
							</p>

							<a href="/blogdetail" class="txt4">
								Continue Reading
								<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>


				<div class="col-md-4 p-t-30">
					<!-- Block 2 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom pos-relative">
							<a href="/blogdetail"><img src="images/smu.jpg" alt="IMG-INTRO"></a>

							<div class="time-blog">
								19th May, 2019
							</div>
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<a href="/blogdetail"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
								Study Debt-free!
							</h4></a>

							<p class="m-b-20">
								It is possible to get into a top US school with full tuition scholarship or full ride scholarship.
							</p>

							<a href="/blogdetail" class="txt4">
								Continue Reading
								<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-4 p-t-30">
					<!-- Block 3 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom pos-relative">
							<a href="/blogdetail"><img src="images/princeton.jpg" alt="IMG-INTRO"></a>

							<div class="time-blog">
								25th Jan 2020
							</div>
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<a href="/blogdetail"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
								HackPrinceton
							</h4></a>

							<p class="m-b-20">
								HackPrinceton was the best hackathon I have attended
							</p>

							<a href="/blogdetail" class="txt4">
								Continue Reading
								<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="bg1">
		<div class="container p-t-40 p-b-70">
			<div class="row">
				<div class="col-sm-6 col-md-4 p-t-50">
					<!-- - -->
					<h4 class="txt13 m-b-33">
						Contact Me
					</h4>

					<ul class="m-b-70">
						<li class="txt14 m-b-14">
							<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
							Lubbock, Texas
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
							adibshakib1
						</li>

						<li class="txt14 m-b-14">
							<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
							adibshakib@gmail.com
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-md-4 p-t-50">
					<!-- - -->
					<h4 class="txt13 m-b-38">
						Photography
					</h4>

					<!-- Gallery footer -->
					<div class="wrap-gallery-footer flex-w">
						<a class="item-gallery-footer wrap-pic-w" href="images/g11.jpg" data-lightbox="gallery-footer">
							<img src="images/g11.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g12.jpg" data-lightbox="gallery-footer">
							<img src="images/g12.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g13.jpg" data-lightbox="gallery-footer">
							<img src="images/g13.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g22.jpg" data-lightbox="gallery-footer">
							<img src="images/g22.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g20.jpg" data-lightbox="gallery-footer">
							<img src="images/g20.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g23.jpg" data-lightbox="gallery-footer">
							<img src="images/g23.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g5.jpg" data-lightbox="gallery-footer">
							<img src="images/g5.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g6.jpg" data-lightbox="gallery-footer">
							<img src="images/g6.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g7.jpg" data-lightbox="gallery-footer">
							<img src="images/g7.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/slide8.jpg" data-lightbox="gallery-footer">
							<img src="images/slide8.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g8.jpg" data-lightbox="gallery-footer">
							<img src="images/g8.jpg" alt="GALLERY">
						</a>

						<a class="item-gallery-footer wrap-pic-w" href="images/g4.jpg" data-lightbox="gallery-footer">
							<img src="images/g4.jpg" alt="GALLERY">
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-md-4 p-t-50">
					<!-- - -->
					<h4 class="txt13 m-b-33">
						Latest on KurT's Steam Store
					</h4>

					<div class="m-b-25">
						<span class="fs-13 color2 m-r-5">
							<i class="fa fa-steam" aria-hidden="true"></i>
						</span>
						<a href="https://steamcommunity.com/id/earthdj" class="txt15">
							@KurT™
						</a>

						<p class="txt14 m-b-18">
							+rep very friendly guy by [ֆ]Ӏìէհɛ[Я]™
						</p>

						<span class="txt16">
							Jul 8, 2015
						</span>
					</div>

					<div>
						<span class="fs-13 color2 m-r-5">
							<i class="fa fa-steam" aria-hidden="true"></i>
						</span>
						<a href="https://steamcommunity.com/id/earthdj" class="txt15">
							@KurT™
						</a>

						<p class="txt14 m-b-18">
							Great trader, keep up the good work bro ^^ by CoreKill
						</p>

						<span class="txt16">
							17 March, 2015
						</span>
					</div>
				</div>
			</div>
		</div>	
	</div>

		<div class="end-footer bg2">
			<div class="container">
				<div class="flex-sb-m flex-w p-t-22 p-b-22">
					<div class="p-t-5 p-b-5">
						<a href="https://github.com/mostofashakib" class="fs-15 c-white"> <i class="fa fa-github m-l-18" aria-hidden="true"></i></a>
						<a href="https://www.facebook.com/mostofa.shakib" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
						<a href="https://www.linkedin.com/in/adibshakib/" class="fs-15 c-white"><i class="fa fa-linkedin-square m-l-18" aria-hidden="true"></i></a>
					</div>

					<div class="txt17 p-r-20 p-t-5 p-b-5">
						Copyright &copy; All rights reserved| Designed and Developed by Mostofa Adib Shakib. <i class="fa fa-heart"></i>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/parallax100/parallax100.js"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
