<!DOCTYPE html>
<html lang="fr"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> I am Adib </title>

<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fichiers CSS -->
<link rel="stylesheet" href="css/reset.css">
<!--[if lt IE 9]> 
	<link rel="stylesheet" href="css/cv.css" media="screen">
<![endif]-->
<link rel="stylesheet" media="screen and (max-width:480px)" href="css/mobile.css">
<link rel="stylesheet" media="screen and (min-width:481px)" href="css/cv.css">
<link rel="stylesheet" media="print" href="css/print.css">
</head>

<body>

	<!-- Header -->
	<header role="banner">
		<div class="container_16">
				<hgroup>
					<h1> Mostofa Adib Shakib </h1>
					<h2> Software Engineer, Mathematician, Entrepreneur </h2>
				</hgroup>

				<figure>
					<img src="images/avatar.jpg" alt="Adib">
				</figure>
		</div>
	</header>
		
	<!-- Corps -->
	<section role="main" class="container_16 clearfix">
		<div class="grid_16">
			<!-- A propos -->
			<div class="grid_8 apropos">
				<h3> Hackathons </h3>
				<p> MakeHarvard 2019 at Harvard University </p>
				<p> HackTech 2019 at California Institute of Technology </p>
				<p> HackRice8 2018 at Rice University </p>
				<p>	nwHacks 2019 at The University of British Columbia </p>
				<p>	HoyaHacks 2019 at Georgetown University </p>
			</div>
			
			<!-- Compétences -->
			<div class="grid_8 competences">
				<h3>Skills</h3>
				<ul class="barres">
					<li data-skills="80">Java, Python, Selenium, JavaScript, Agile, Scrum, MongoDB, Git <span style="width: 80%;"></span></li>
					<li data-skills="65"> Linux, MATLAB, Angular.JS, AWS, TensorFlow, Keras, SQL, Scikit-Learn, Web Scraping <span style="width: 60%;"></span></li>
					<li data-skills="90"> HTML5, CSS3, Node.JS, Leadership, Time Management, Determination <span style="width: 90%;"></span></li>
					<li data-skills="55">C++, C, Assembly, PHP, Django, Hadoop <span style="width: 55%;"></span></li>
				</ul>
			</div>
		</div>
		
			<!-- Expériences -->
			<div class="grid_16 experiences">
				<h3> Experience </h3>
				<ul>	
				    <li>
						<h4><strong> Software Engineer, Intern </strong> NextGen Code Company </h4>
						<span class="lieu"> Lubbock, Texas </span>
						<span class="dates"> May 2019 to Present </span>
						<p>	<ol> Designed the architectures of Web Application, Mobile Application and Machine Learning Applications. </ol> </>
							<ol> Collaborated with the rest of the engineering team to design and implemented data protection and security. </ol>
							<ol> Making the UX design and converting the Y-frame designs to visual elements. </ol>
							<ol> Technologies: Git, Laravel, Angular.JS, Ionic, JavaScript, React.JS, MySQL, MongoDB, PHP, Python, Linux. </ol>
						</p>
					</li>
					<li>
						<h4><strong> Peer Tutor </strong> Trio Student Support, Texas Tech University </h4>
						<span class="lieu"> Lubbock, Texas </span>
						<span class="dates"> May 2019 to Present </span>
						<p>	<ol> Help students with historically difficult courses in Engineering and Mathematics. </ol> </>
							<ol> Courses: Microcontrollers, Intro. to Mathematical Proof, Theory of Automata, Computer Architecture, Differential Equations 1, Statistics & Probabilitiy, Physics 1&2, Chemistry 1&2, Fundamentals of Electrical Engineering, Mathematical Computing, Object-Oriented Programming, Data Structures, Design and Analysis of Algorithms, Calculus 1&2. </ol>
						</p>
					</li>
					<li>
						<h4><strong> Director of Software Development and Engineering </strong> RISA </h4>
						<span class="lieu"> Lubbock, Texas </span>
						<span class="dates"> January 2019 to Present </span>
						<p>	<ol> Lead software development committee to ensure software development and application design. </ol> </>
							<ol> Teach beginners the core fundamentals of software development and engineering.     </ol>
							<ol> Mentor people from all majors about hackathons, interview preparation and to implement best practices to motivate and organize the committee. </ol>
						</p>
					</li>
					<li>
						<h4><strong> Campus Manager </strong> Fresh Prints </h4>
						<span class="lieu"> Lubbock, Texas </span>
						<span class="dates"> February 2019 to March 2019 </span>
						<p>	<ol> Communicate the vision of the client to my graphic design team to create a customized design. </ol> </>
							<ol> Assemble a steady client base comprising of on and off campus clubs, organizations, and greek life that regularly needs custom apparel. </ol>
							<ol> Assesses collegiate market and spearheads the promotional campaign, while seeking out new business clients and cold calling organization leaders </ol>
						</p>
					</li>
					<li>
						<h4><strong> Software Design Engineer, Intern </strong> Group Nire </h4>
						<span class="lieu"> Lubbock, Texas </span>
						<span class="dates"> September 2018 to December 2018 </span>
						<p>	<ol> Developed flow charts and general design charts and documented program flow and structure. </ol> </>
							<ol> Sharded a MongoDB database to fix memory consumption by 60% and made management easier.    </ol>
							<ol> Setup a linux development environment and designed a system that backs up the database after every 2 months </ol>
						</p>
					</li>
					<li>
						<h4><strong> Undergraduate Research Assistant </strong> Applied Vision Lab, Texas Tech University </h4>
						<span class="lieu"> Lubbock, Texas </span>
						<span class="dates"> August 2018 to December 2018 </span>
						<p>	<ol> Learned the techniques of developing an interactive computer vision and an augmentation system for visualizing and understanding deep neural networks. </ol> </>
							<ol> Analyzed image segmentation via deformable models in a computer vision system that detects multiple features to compute the harvest in early stages of plantation using convolutional neural network in MATLAB. 
							</ol>
						</p>
					</li>
					<li>
						<h4><strong> Software Engineer, Intern </strong> Grameen Telecom Trust </h4>
						<span class="lieu"> Dhaka, Bangladesh </span>
						<span class="dates"> May 2018 to August 2018 </span>
						<p>	<ol> Created and executed automated software test plans, cases, and scripts to uncover, identify, and document software problems and their causes in agile development mythologies. </ol> </>
							<ol> Developed a staff attendance tracker system in PHP and documented QA testing reports. </ol>
						</p>
					</li>
					<li>
						<h4><strong> Team Leader/ Founder/ Full Stack Developer </strong> Team Red Raider </h4>
						<span class="lieu"> Lubbock, Texas </span>
						<span class="dates"> February 2018 to Present </span>
						<p>	<ol> Leads a team that takes part in various intercollegiate hackathons. Team Red Raider encourages and help beginners to get involved </ol> </p>
					</li>
					<li>
						<h4><strong> Founder </strong> KurT's Steam Store </h4>
						<span class="lieu"> Dhaka, Bangladesh </span>
						<span class="dates"> January 2014 to Present </span>
						<p>	<ol> Traded ‘In-game’ virtual items and games in steam back in 2018 with a 5$ investment and made over $20000 in profit with a 4000% return on investment. </ol> </p>
					</li>
				</ul>
			</div>
		
			<!-- Formations -->
			<div class="grid_16 formations">
				<h3> Education </h3>
				<ul>
					<li>
						<h4><strong> Bachelor of Science in Computer Science </strong> Texas Tech University </h4>
						<h4><strong> Bachelor of Science in Applied Mathematics </strong> Texas Tech University </h4>
						<span class="lieu"> Lubbock, Texas </span>
						<span class="dates"> Fall 2017 to Fall 2020 </span>
					</li>
					<li>
						<h4><strong> High School Diploma </strong> Maple Leaf International School </h4>
						<span class="lieu"> Dhaka, Bangladesh </span>
						<span class="dates"> Graduated July 2017 </span>
						<p> Completed O' Level and A' Level under the University of Cambridge, England </p>
					</li>
				</ul>
			</div>

			<!-- Projectrs -->
			<div class="grid_16 formations">
				<h3> Projects </h3>
				<ul>
     				<li>
						<h4> <a href="https://github.com/mostofashakib"> <strong> WikiScrape </strong> </a> </h4>
						<p> This Scraper goes to Wikipedia which has a list of US cities by population from which the scrapper picks the top 10 cities by population and extracts data. After that, the scraper goes to their individual pages and collects a breakdown of data of different ethnic groups living in those cities. This CSV file can be uploaded to a BigQuery Google Data Analytics tool to do Data Analysis on the top 10 cities in the US. </p>

						<p>	<em> Python, BeautifulSoup, Requests </em> </p>
					</li>
					<li>
						<h4> <a href="http://redraider.tech/"> <strong> Dok </strong> </a> </h4>
						<p> A user-friendly application that connects Doctors and patients without the time spent visiting clinics. The simple app design is ideal for millennial teen transitioning into adults to find doctors in a convenient way. The patient, upon the first visit to the site, scrolls down, chooses to sign up as a patient and chooses credentials. They then choose what kind of health problems they are having trouble within a preselected menu of 6 options. Then they are redirected to the doctor qualified to assist them. The patient is able to check the doctors' profile to check their ratings, comments, and prices to decide if the doctor chose is trustworthy. </p>

						<p>	<em> Technologies: HTML5, CSS3, MongoDB, JavaScript, Bootstrap, jQuery, Node.JS, Android Studio, Java. </em> </p>
					</li>
					<li>
						<h4> <a href="https://devpost.com/software/project-portal"> <strong> Project-Portal </strong> </a> </h4>
						<p> It's a pet detection system, which uses led lights, ultra-sonic sound sensors, web camera, a step-up motor connected to an Arduino Uno board. The ultrasonic sensor measures the distance of the pet from the door and blinks green when an object is at a certain distance away. The green light triggers the webcam which uses machine learning algorithms to check if the object's image exists in the database. If so, the step-up motor rotates to open the door allowing access to the pet. If not, then the system sends a notification to the admin notifying about the situation. </p>

						<p>	<em> Technologies: C++, TensorFlow, Python, Arduino Uno, Google Cloud Platform, One shot learning algorithm, Step-up motor, Camera. </em> </p>
					</li>
					<li>
						<h4> <a href="https://team-red-raider-website.herokuapp.com/"> <strong> TRR -Website HackRice 8 </strong> </a> </h4>
						<p> Single-handedly developed a website for the project-portal project which is built with all the latest technologies. The website supports different browser compatibility and mobile usability while keeping in mind of a surreal UX. </p>

						<p>	<em> Technologies: HTML5, CSS3, JavaScript , jQuery, Bootstrap, NodeJS, Express, .Tech domain. </em> </p>
					</li>
				</ul>
			</div>
		
			<!-- Loisirs -->
			<div class="grid_8 loisirs">
				<h3> Honors </h3>
				<p> <strong> Country Highest </strong> marks in IGCSE Mathematics </p>
				<p> <strong> Presidential Scholarship </strong> at Texas Tech University </p>
				<p> <strong> Winner of Best Web Design Award </strong> at Rice University </p>
				<p> <strong> Academic Excellence Scholarship </strong> at Maple Leaf International School </p>
				<p> <strong> Outstanding Academic Achievement </strong> by Daily Star </p>
				<p> <strong> Texas Tech University Dean's List </strong> at Texas Tech University </p>
			</div>
		
			<!-- Contact -->
			<div class="grid_8 contact">
				<h3>Contact</h3>
				<ul>
					<li class="lieu">Lubbock, Texas </li>
					<li class="phone"> Skype: adibshakib1 </li>
					<li class="mail"><a href="mailto:adibshakib@gmail.com"> adibshakib@gmail.com </a></li>
					<li class="mail"><a href="mailto:adib.shakib@ttu.edu">  adib.shakib@ttu.edu  </a></li>
				</ul>
			</div>
	</section>

<!-- Scripts JavaScript -->
<script src="js/jquery-1.js"></script>
<script src="js/validate.js"></script>
<!--[if lt IE 9]>
<script src="scripts/placeholder.js"></script>
<![endif]-->
<script src="js/plugins.js"></script>

</body></html>